# multios 
set default="1"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}


load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray

set timeout=10

# 以下menuentry从各ISO复制，并添加search命令由label和分区UUID设置root变量
